@import "tailwindcss";

/* Tiptap / ProseMirror */
.ProseMirror { outline: none; }
.ProseMirror ul { list-style-type: disc;     padding-left: 1.5em; }
.ProseMirror ol { list-style-type: decimal;  padding-left: 1.5em; }
.ProseMirror li > p { margin: 0; }
